-provide(:title, "LeaderBoard")
%h1 LeaderBoard
.row
  .span10.offset1
    %table.table.table-striped
      %thead
        %th User
        %th Name
        %th College
        %th #Score
      -@users.each do |user|
        %tr
          %td= user.email
          %td= user.name
          %td= user.college
          %td= user.score - 1
