-provide(:title, "Avensis 2013")
.row
  .center.head
    .row
      .span12.offset2
        %h1 BrainStorm

        %h2
          14 - 21 March 2013

        - if current_user  
          %h3#play
            =link_to "PLAY", play_path
      -if user_signed_in? 
        %div
          .display-image
            -if current_user.provider and current_user.provider.eql?('facebook')
              =image_for(current_user, 'float-right')
            -else  
              =image_for(current_user, 'float-right')
              %br
              %span.toggle-link=link_to "Change image", 'http://gravatar.com/email', :target => :blank  

    %hr
  -if @level_attempts
    .span8.offset3
      .hide_div_toggle Hide/Show Level vs Attempts chart
      =content_tag :div, "", id: "level_attempt_chart", data: { attempts: @level_attempts }

  .span7
    %h2
      What is it?
    %p
      <b>BrainStorm</b> is an online mind-boggling treasure hunt event to test your brain cells.
      %br It is part of <a href="#">Avensis</a> TechFest.
    %h2
      How to play and compete?
    %p
      Simply
      =link_to "sign up using facebook", user_omniauth_authorize_path(:facebook)
      instantly or
      =link_to "register here.", register_path
  .span7
    %h2
      When?
    %p
      Go ahead and register now. BrainStorm will commence from
      %b 14 March - 21 March
      %br Read <a href="/rules">rules and instructions</a>.
    %h2
      What's in it for me?
    %p
      Prizes worth $$ to win. Raise the flag of your intellectual superiority.

