-provide(:title, "Rules, Tips and Instructions")
%h1
  DETAILS
  
%h1.align_left.clear Rules  
.row.rules
  .span12.clear
    %ol
      %li
        Revealing answers or questions on
        %a{ :href => "" }public forum
        will result in your immediate
        %b disqualification.
      %li
        %b=link_to "Brainstorm", root_path, :target => :blank
        is the race to the <em>Witch mountain</em> (here, LeaderBoard)
    %hr  
%h1.align_left Instructions        
.row.rules
  .span12.clear
    %ol
      %li
        Answer in any way you want.
        <em>Harlem-shake</em>, <em>harlem shake</em>, <em>HARLEM SHAKE!</em> will all be accepted! 
      %li
        You have unlimited attempts for any level. We will show to you, all your
        unsuccessful attempts to prevent you from repeating them and for securing your <em>train-of-thought</em>.
      %li
        You <u>won't be judged</u> with number of attempts in any level you make, at all.
      %li
        Once the <em>storm</em> begins, we will also show your performance statistics as compared to all the players and top-rankers.
        It will be viewable on your home page, once you sign in.
    %hr
%h1.align_left TIPS
.row.rules
  .span12.clear
    %ul
      %li
        Use <b>Web Search</b> extensively.
      %li
        %b=link_to "Google Image Search", "http://images.google.com/"
        will be really handy! Search using images.
      %li
        We will also provide the hint periodically.
        Keep an eye out for <i class="icon-info-sign"></i> while playing.
        This will show you the hint(s) when clicked.
      %li
        Something may be dropped in places like title-bar, images.
        And <em>even in whatever you just read now.</em>