%section
  %h3
    =image_for(current_user)
    =current_user.name
%section    
  -Level.all.each do |level|
    %h3.questions_list
      =link_to "Level #{level.id}", "#", :class => "links_hover"
    %div.links_bar
      %small
        =link_to "Show", level
        |
        =link_to "Edit", edit_level_path(level), :remote => true
        |
        =link_to "Delete", level, :method => :delete, :data => { :confirm => "Are you sure?" }